/* Link color for job titles */
.job-title-link {
    color: orange;
    text-decoration: none;
}

/* Status text color and icon */
.status-text {
    display: inline-flex;
    align-items: center;
}

.text-blue {
    color: #31a5f8; /* Or any color you want for open status */
}

.card-blue-detail  {
    color: #31a5f8; /* Or any color you want for open status */
}
