{% extends 'main.html' %} 
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Application Form </h2>
    <p>Please fill out the form below to apply for {{ job.title }}.</p>
    
    <form method="POST" action="" class="needs-validation" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
            <!-- Label for the form field -->
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field.errors }}

            <!-- Check if there are errors and render fields with validation feedback -->
            {% if field.errors %}
                <!-- Check if the field is 'resume' or 'cover_letter' and render as textarea -->
                {% if field.name == 'resume' or field.name == 'cover_letter' %}
                    <textarea name="{{ field.name }}" class="form-control is-invalid" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>{{ field.value|default_if_none:'' }}</textarea>
                <!-- Else, render as a regular input field -->
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control is-invalid" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}" {% if field.field.required %}required{% endif %}>
                {% endif %}
                <!-- Invalid feedback for the user to correct the input -->
                <div class="invalid-feedback">
                    {{ field.errors|first }}
                </div>
            {% else %}
                <!-- Render fields without errors -->
                {% if field.name == 'resume' or field.name == 'cover_letter'%}
                    <textarea name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>{{ field.value|default_if_none:'' }}</textarea>
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}" {% if field.field.required %}required{% endif %}>
                {% endif %}
            {% endif %}

            <!-- Help text for the form field, if any -->
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
    </form>
</div>

{% endblock %}
