{% extends 'main.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Job Form</h2>
    <form method="POST" action="" class="needs-validation" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field.errors }}

            {% if field.errors %}
                <!-- Check if field should be rendered as textarea -->
                {% if field.field.widget.input_type == 'textarea' %}
                    <textarea name="{{ field.name }}" class="form-control is-invalid" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>
                        {{ field.value|default_if_none:'' }}
                    </textarea>
                {% else %}
                    <!-- Input field with default styling and error handling -->
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control is-invalid" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>
                {% endif %}
                <div class="invalid-feedback">
                    {{ field.errors|first }}
                </div>
            {% else %}
                <!-- Check if field should be rendered as textarea -->
                {% if field.field.widget.input_type == 'textarea' %}
                    <textarea name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>
                        {{ field.value|default_if_none:'' }}
                    </textarea>
                {% else %}
                    <!-- Regular input field without errors -->
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>
                {% endif %}
            {% endif %}

            <!-- Help text for the form field, if any -->
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
    </form>
</div>

{% endblock %}
