{% extends 'main.html' %} 
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- Job Title -->
            <h1 class="mb-3">{{ job.title }}</h1>
            <h6 class="text-secondary">Job Details</h6>
            <hr>

            <!-- Company and Location -->
            <p><strong>Company:</strong> {{ job.company }}</p>
            <p><strong>Job Location:</strong> {{ job.location }}</p>
            
            <!-- Created At -->
            <p><strong>Created:</strong> {{ job.created_at|date:"m/d/Y" }}</p>

            <!-- Deadline -->
            <p><strong>Deadline:</strong> {% if job.available %}{{ job.deadline|date:"m/d/Y" }}{% else %}Closed{% endif %}</p>

            <!-- Job Description -->
            <div class="mt-4">
                <h6 class="text-secondary">Description</h6>
                <hr>
                <p>{{ job.description }}</p>
            </div>

            <!-- Apply or Applied Status -->
             {% comment %} check if user logged in {% endcomment %}

            <div class="mt-4">
                {% if not job.available %}
                    <p class="text-muted">This job is no longer accepting applications.</p>
                {% elif not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Login to Apply</a>
                {% elif not has_applied  %}
                    <a href="{% url 'register-job' job.id %}" class="btn btn-primary">Apply</a>
                {% else %}
                    <span class="text-success"><strong>Applied</strong></span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
